<%= render "share/data" %>

<!-- Gallery Posts -->
<div class="container gallery-wrapper">
  <div class="row-fluid">


    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="platillos/gourmet">
        <img src="/assets/dishes/gourmet/chiles_nogada_428.jpg" alt="Chiles estilo nogada platillo gourmet">
      </a>
      <div class="gallery-postinfo">
        <h3><%= link_to "Gourmet", gourmet_path %></h3>
        <div class="postinfo">
          <p>18.05.2014</p>
        </div>
        <p>Platillos para banquetes elegantes, opcion ideal para bodas y eventos internacionales.Platillos con una elaboración mas refinada con ingredientes exquisitamente seleccionado; para aquellos con una pasión por las complejidades de la comida gastronómica. </p>
        <button><%= link_to t(:open_gallery), gourmet_path %></button>
      </div>
    </div>



    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="platillos/postres">
        <img src="/assets/dishes/desserts/crepas_428.jpg" alt="Crepas postres">
      </a>
      <div class="gallery-postinfo">
        <h3><%= link_to t(:desserts), dessert_path %></h3>
        <div class="postinfo">
          <p>18.05.2014</p>
        </div>
        <p>No hay mejor manera de acabar una buena cena que saboreando un delicioso postre. 
        Si quieres sorprender a tus invitados toma nota de las últimas tendencias en postres. </p>
        <button><%= link_to t(:open_gallery) %></button>
      </div>
    </div>



    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><%= link_to t(:main), main_path %></h3>
        <div class="postinfo">
          <p>18.05.2014</p>
        </div>
        <p>Sin importar sì es filete de res, pescado o pollo, las personas buscan comer algo delicioso en su evento, fiesta, graduacion, etc.
        lo que se debe de tomar en cuenta es que tenga armonìa con lo que ofreciste anteriormente,
        por algo le llaman tambièn plato principal.</p>
        <button><%= link_to t(:open_gallery) %></button>
      </div>
    </div>




    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>



  </div>
</div>

