<%= render "share/data" %>

<!-- Gallery Posts -->
<div class="container gallery-wrapper">
  <div class="row-fluid">
    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="platillos/gourmet">
        <img src="/assets/dishes/gourmet/chiles_nogada_428.jpg" alt="Chiles estilo nogada platillo gourmet">
      </a>
      <div class="gallery-postinfo">
        <h3><%= link_to "Gourmet", gourmet_path %></h3>
        <div class="postinfo">
          <p>18.05.2014</p>
        </div>
        <p>Platillos para banquetes elegantes, opcion ideal para bodas y eventos internacionales.Sólo aquellos con una pasión por el conocimiento de las complejidades de la comida suelen estar a la altura.</p>
        <button><%= link_to t(:open_gallery), gourmet_path %></button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="platillos/postres">
        <img src="/assets/dishes/gourmet/crepas_428.jpg" alt="Crepas postres">
      </a>
      <div class="gallery-postinfo">
        <h3><%= link_to t(:desserts), dessert_path %></h3>
        <div class="postinfo">
          <p>18.05.2014</p>
        </div>
        <p>Postres originales ricos y economicos para tu evento,receta unica, opcion preferida de XV años.No hay mejor manera de acabar una buena cena que saboreando un delicioso postre. Si quieres sorprender a tus invitados toma nota de las últimas tendencias en postres bodas. </p>
        <button><%= link_to t(:open_gallery) %></button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>
  </div>
</div>

