<%= render "share/data" %>
<%= content_for :javascript do %>
  <%= javascript_include_tag "home" %>
<% end %>
<%= render "carousel" %>

<!-- Info Container -->
<div class="container infoContainer client_info_holder animationStart">
  <div class="row-fluid">
    <div class="span4 infoHolder section_featured_texts animationStart">
      <h3 data-number="1"><%= t :services %></h3>
        <%= image_tag "img.jpg" %>
        <p>
        <ul style="color: white">
          <li> Bodas </li>
          <li> XV años </li>
          <li> Aniversarios </li>
          <li> Primera comunion </li>
          <li> Bautizos </li>
          <li> o simplemente algún motivo para celebrar.</li>
        </ul>
        </p>
    </div>
    <div class="span4 infoHolder section_featured_texts animationStart">
      <h3 data-number="2">Menu</h3>
      <%= image_tag "img2.jpg" %>
      <p>
      <ul style="color: white">
        <li> Tres tiempos </li>
        <li> Buffet a elegir </li>
        <li> Coffee break </li>
        <li> Charolas de Bocadillos</li>
        <li> Platillos personalizados</li>
      </ul>
      </p>
    </div>
    <div class="span4 infoHolder section_featured_texts animationStart">
      <h3 data-number="3"><%= t(:our_team) %></h3>
      <%= image_tag "img3.jpg" %>
      <p>
      “Banquetes El Buen Plato” reconoce la importancia de los miembros de nuestro equipo como piezas indispensables para el proceso y culminación de un excelente platillo para tu evento siempre de la mano de nuestro Chef.
      </p>
    </div>
  </div>
</div>

<!-- Tradition Container -->
<div class="container tradition">
  <div class="row-fluid">
    <div class="span4 animationElementsWrapp">

      <%= image_tag "img/parallax/h1.png", :class => "hitem1", :alt => "Featured Image" %>
      <%= image_tag "img/parallax/h2.png", :class=>"hitem2",:alt=>"Featured Image"%>
      <%= image_tag "img/parallax/h3.png", :class=>"hitem3",:alt=>"Featured Image"%>
      <%= image_tag "img/parallax/t1.png", :class=>"hitem4",:alt=>"Featured Text" %>
      <%= image_tag "img/parallax/t2.png", :class=>"hitem5",:alt=>"Featured Text" %>
      <%= image_tag "img/parallax/t3.png", :class=>"hitem6",:alt=>"Featured Text" %>
    </div>
    <div class="span4"></div>

    <div class="span4 tradition-section client_info_holder animationStart section_featured_texts">
      <h3>Misión</h3>
      <p>
      Es  crear y elaborar alimentos de óptima calidad   utilizando los productos más frescos. Buscar siempre satisfacer y exceder las expectativas de nuestros clientes y sus invitados para que tu Evento ya sea Boda , XV, Aniversario y cualquier celebración que lo amerite   te lo pueda  brindar  ” Banquetes el Buen Plato”.  A  la vez  ofrecerte siempre alternativas  para la planificación   de tu evento  en Monterrey o fuera del área ,siempre  reforzada  por nuestra experiencia y dedicación en este rubro y  asegurarnos de que nuestro personal te ofrezcan un buen servicio demostrando ética, compromiso y  sobre todo respeto para que ese día tan especial sea inolvidable.
      </p>
    </div>
  </div>
</div>


<!-- Early Start Container -->
<div class="container early-start">
  <div class="row-fluid">
    <div class="span6 client_info_holder animationStart section_featured_texts">
      <h3>Visión</h3>
      <p>Lograr  ser reconocidos como una alternativa de calidad superior en la industria de alimentos 
      y Servicio de Banquetes; Contar con una clientela fija y además aumentar el número de nuevos clientes 
      consistentemente. Seguir con la firme convicción de preservar la eficiencia en nuestro Servicio, 
      Calidad y Sabor en cada uno de nuestros platillos que te ofrecemos en donde nuestro compromiso principal 
      sea crear experiencias agradables al paladar de nuestros clientes en cada evento que se presente “Banquetes el Buen Plato”.
      </p>
    </div>
    <div class="span6 client_info_holder animationStart section_featured_texts">
      <%= image_tag "Chef_Alberto_Trejo.jpg", :alt => "Chef Alberto Trejo"  %>
    </div>
  </div>
</div>



