
<!-- Gallery & Testimonials -->
<div class="container gallery-testimonials">
  <div class="row-fluid">

    <div class="span6 client_info_holder animationStart section_featured_texts">
      <h3>Gallery</h3>
      <div class="galleryContainer">
        <%= link_to image_tag("gallery/Rollitos_Primavera_mini.jpg",alt: "Featured Image"), asset_path('gallery/Rollitos_Primavera.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/Choox_con_crema pastelera_y_frutas_mini.jpg",alt: "Featured Image"), asset_path('gallery/Choox_con_crema pastelera_y_frutas.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/Camarones_al_Coco_mini.jpg",alt: "Featured Image"), asset_path('gallery/Camarones_al_Coco.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/INTERNACIONAL_mini.jpg",alt: "Featured Image"), asset_path('gallery/INTERNACIONAL.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/Roast_Beef_al_horno_con_Gravy_de_Champiñones_mini.jpg",alt: "Featured Image"), asset_path('gallery/Roast_Beef_al_horno_con_Gravy_de_Champiñones.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/Crema_de_Brocoli_con_Crotones_mini.jpg",alt: "Featured Image"), asset_path('gallery/Crema_de_Brocoli_con_Crotones.jpg'), rel: "prettyPhoto [gallery]" %>

      </div>
    </div>



    <div class="span6 client_info_holder animationStart section_featured_texts">
      <h3>Testimonials</h3>

      <div id="testimonialCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="row-fluid">
              <div class="span3">
                <img src="http://placehold.it/101x101/ceba9c/1c2831.png" alt="Featured Thumb">
              </div>
              <div class="span9">
                <h5>John Williams Doe</h5>
                <span>- Google Ceo</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quae, beatae, blanditiis debitis enim molestias fuga itaque voluptatum nulla harum vel provident voluptas praesentium recusandae ad modi laboriosam reiciendis architecto.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row-fluid">
              <div class="span3">
                <img src="http://placehold.it/101x101/ceba9c/1c2831.png" alt="Featured Thumb">
              </div>
              <div class="span9">
                <h5>John Williams Doe</h5>
                <span>- Google Ceo</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolores, culpa vitae voluptatem sit sed molestiae cupiditate enim laboriosam quasi quidem beatae perferendis porro ut aspernatur soluta nesciunt velit voluptate.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row-fluid">
              <div class="span3">
                <img src="http://placehold.it/101x101/ceba9c/1c2831.png" alt="Featured Thumb">
              </div>
              <div class="span9">
                <h5>John Williams Doe</h5>
                <span>- Google Ceo</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, inventore fugiat esse sit vitae delectus quia distinctio voluptate aspernatur perspiciatis. Labore ab provident dolore temporibus dolorem reprehenderit atque quasi accusamus.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#testimonialCarousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#testimonialCarousel" data-slide="next"></a>
      </div>
    </div>

  </div>
</div>
