
<!-- Gallery & Testimonials -->
<div class="container gallery-testimonials">
  <div class="row-fluid">

    <div class="span6 client_info_holder animationStart section_featured_texts">
      <h3><%= t :gallery %></h3>
      <div class="galleryContainer">
        <%= link_to image_tag("gallery/Rollitos_Primavera_mini.jpg",alt: "Featured Image"), asset_path('gallery/Rollitos_Primavera.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/Choox_con_crema pastelera_y_frutas_mini.jpg",alt: "Featured Image"), asset_path('gallery/Choox_con_crema pastelera_y_frutas.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/Camarones_al_Coco_mini.jpg",alt: "Featured Image"), asset_path('gallery/Camarones_al_Coco.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/INTERNACIONAL_mini.jpg",alt: "Featured Image"), asset_path('gallery/INTERNACIONAL.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/Roast_Beef_al_horno_con_Gravy_de_Champiñones_mini.jpg",alt: "Featured Image"), asset_path('gallery/Roast_Beef_al_horno_con_Gravy_de_Champiñones.jpg'), rel: "prettyPhoto [gallery]" %>
        <%= link_to image_tag("gallery/Crema_de_Brocoli_con_Crotones_mini.jpg",alt: "Featured Image"), asset_path('gallery/Crema_de_Brocoli_con_Crotones.jpg'), rel: "prettyPhoto [gallery]" %>

      </div>
    </div>



    <div class="span6 client_info_holder animationStart section_featured_texts">
      <h3><%= t :testimonials %></h3>

      <div id="testimonialCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="row-fluid">
              <div class="span3">
                <%= image_tag "chef_marcos.jpg", :alt => "Cheft Marcos" %>
              </div>
              <div class="span9">
                <h5>Marcos Rodríguez</h5>
                <span>- Chef</span>
                <p>
                Mi brazo derecho por muchos años hasta inicios del 2014  en Dibanhi eventos, dominando todas las áreas de la cocina y sobre todo responsable y entregado a su trabajo, Mucho éxito.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row-fluid">
              <div class="span3">
                <%= image_tag "chef_loera.jpg", :alt => "Cheft Raul Loera" %>
              </div>
              <div class="span9">
                <h5>Raúl Loera</h5>
                <span>- Chef</span>
                <p>
                Alberto ,entregado a su trabajó años de conocerlo dedicado y entusiasta .resuelve las dificultades que se presentan ,ama a su familia y sueña con los mejores logros.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#testimonialCarousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#testimonialCarousel" data-slide="next"></a>
      </div>
    </div>

  </div>
</div>
