<%= render "share/data" %>
<%= content_for :stylesheet do %>
<%= stylesheet_link_tag "single_gallery" %>
<% end %>

<%= content_for :javascript do %>

  <%= javascript_include_tag "jquery.carouFredSel-6.0.4-packed" %>

        <script type="text/javascript">
          $(function() {

            $('#carousel').carouFredSel({
              responsive: true,
              circular: false,
              auto: false,
              items: {
                visible: 1,
                width: 200,
                height: '56%'
              },
              scroll: {
                fx: 'directscroll'
              }
            });

            $('#thumbs').carouFredSel({
              responsive: true,
              circular: false,
              infinite: false,
              auto: false,
              prev: '#prev',
              next: '#next',
              items: {
                visible: {
                  min: 2,
                  max: 4
                },
                width: 202,
                height: '66%'
              }
            });

            $('#thumbs a').click(function() {
              $('#carousel').trigger('slideTo', '#' + this.href.split('#').pop() );
              $('#thumbs a').removeClass('selected');
              $(this).addClass('selected');
              return false;
            });

          });
        </script>



<% end %>
      
<div class="container single-gallery">
  <div class="row-fluid">
    <div id="wrapper">
      <div id="carousel-wrapper">
        <%= image_tag "img/gui/carousel_shadow.png", :id => "shadow" %>
        <div id="carousel">
          <span id="slide-1"><img src="/assets/dishes/mains/rollitos_de_carne_con_salsa_a_la_Italiana_1024.jpg" alt="Rollitos de carne con salsa a la italiana" /></span>
          <span id="slide-2"><img src="/assets/dishes/mains/roast_beef_al_horno_con_gravy_de_champi単ones_1024.jpg" alt="Roast beef al horno con gravy de champi単ones" /></span>
          <span id="slide-3"><img src="/assets/dishes/mains/suprema_de_ave_en_cama_de_arroz_1024.jpg" alt="Suprema de ave en cama de arroz" /></span>
          <span id="slide-4"><img src="/assets/dishes/mains/suprema_de_ave_en_cama_de_arroz_2_1024.jpg" alt="Suprema de ave en cama de arroz" /></span>
          <span id="slide-5"><img src="/assets/dishes/mains/roast_beef_con_gravy_de_vino_tinto_1024.jpg" alt="Roast beef con gravy de vino tinto" /></span>
          <span id="slide-6"><img src="/assets/dishes/mains/suprema_de_ave_a_la_cordon_blue_rellena_1024.jpg" alt="Suprema de ave a la cordon blue rellena" /></span>
          <span id="slide-7"><img src="/assets/dishes/mains/suprema_de_ave_en_salsa_de_nuez_1024.jpg" alt="Suprema de ave en salsa de nuez" /></span>
          <span id="slide-8"><img src="/assets/dishes/mains/suprema_de_ave_rellena_de_queso_crema_y_elote_216.jpg" alt="Suprema de ave rellena de queso crema y elote" /></span>
          <span id="slide-9"><img src="/assets/dishes/mains/medallon_de_pollo_en_salsa_de_cilantro_1024.jpg" alt="Medallon de pollo en salsa de cilantro" /></span>
          <span id="slide-10"><img src="/assets/dishes/mains/pastel_de_pollo_con_salsa_de_almendras_1024.jpg" alt="Pastel de Pollo con salsa de almendras" /></span>
          <span id="slide-11"><img src="/assets/dishes/mains/medallon_de_pollo_con_salsa_a_la_crema_con_espinacas_1024.jpg" alt="Medallon de pollo con salsa a la crema con espinacas" /></span>
          <span id="slide-12"><img src="/assets/dishes/mains/medallon_de_pollo_en_salsa_de_chipotle_1024.jpg" alt="Medallon de Pollo en salsa de Chipotle" /></span>
          <span id="slide-12"><img src="/assets/dishes/mains/medallon_de_pollo_con_salsa_de_cilantro_1024.jpg" alt="Medallon de pollo con salsa de cilantro" /></span>
        </div>
      </div>
      <div id="thumbs-wrapper">
        <div id="thumbs">
          <a href="#slide-1" class="selected"><img src="/assets/dishes/mains/rollitos_de_carne_con_salsa_a_la_Italiana_216.jpg" alt="Rollitos de carne salsa a la italiana" /></a>
          <a href="#slide-2"><img src="/assets/dishes/mains/roast_beef_al_horno_con_gravy_de_champi単ones_216.jpg" alt="Roast beef al horno con gravy de champi単ones" /></a>
          <a href="#slide-3"><img src="/assets/dishes/mains/suprema_de_ave_en_cama_de_arroz_216.jpg" alt="Suprema de ave en cama de arroz" /></a>
          <a href="#slide-4"><img src="/assets/dishes/mains/suprema_de_ave_en_cama_de_arroz_2_216.jpg" alt="Suprema de ave en cama de arroz" /></a>
          <a href="#slide-5"><img src="/assets/dishes/mains/roast_beef_con_gravy_de_vino_tinto_216.jpg" alt="Roast beef con gravy de vino tinto" /></a>
          <a href="#slide-6"><img src="/assets/dishes/mains/suprema_de_ave_a_la_cordon_blue_rellena_216.jpg" alt="Suprema de ave a la cordon blue rellena" /></a>
          <a href="#slide-7"><img src="/assets/dishes/mains/suprema_de_ave_en_salsa_de_nuez_216.jpg" alt="Suprema de ave en salsa de nuez" /></a>
          <a href="#slide-8"><img src="/assets/dishes/mains/suprema_de_ave_rellena_de_queso_crema_y_elote_1024.jpg" alt="Suprema de ave rellena de queso y elote"  /></a>
          <a href="#slide-9"><img src="/assets/dishes/mains/medallon_de_pollo_en_salsa_de_cilantro_216.jpg" alt="Medallon de pollo en salsa de cilantro"  /></a>
          <a href="#slide-10"><img src="/assets/dishes/mains/pastel_de_pollo_con_salsa_de_almendras_216.jpg" alt="Pastel de Pollo con salsa de almendras"  /></a>
          <a href="#slide-11"><img src="/assets/dishes/mains/medallon_de_pollo_con_salsa_a_la_crema_con_espinacas_216.jpg" alt="Medallon de pollo con salsa a la crema con espinacas"  /></a>
          <a href="#slide-12"><img src="/assets/dishes/mains/medallon_de_pollo_en_salsa_de_chipotle_216.jpg" alt="Medallon de Pollo en salsa de Chipotle"  /></a>
          <a href="#slide-13"><img src="/assets/dishes/mains/medallon_de_pollo_con_salsa_de_cilantro_216.jpg" alt="Medallon de pollo con salsa de cilantro" /></a>
        </div>
        <a id="prev" href="#"></a>
        <a id="next" href="#"></a>
      </div>
    </div>
  </div>
</div>

