<div class="preloader">
  <%= image_tag "loader.gif", :alt=>"Loader" %>
</div>


<div class="fullscreen-container" style="overflow: visible; height: 1000px !important ;"  >
  <div class="fullscreenbanner">
    <ul>
      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >



      <div class="tp-caption lfl"
        data-x="-600"
        data-y="-50%"
        data-speed="1000"
        data-start="800"
        data-easing="easeOutExpo"  >
        <%= image_tag "img/parallax/1.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sft"
        data-x="-327"
        data-y="-50"
        data-speed="600"
        data-start="1200"
        data-easing="easeOutSine"  >
        <%= image_tag "img/parallax/2.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sft"
        data-x="107"
        data-y="-50"
        data-speed="800"
        data-start="1800"
        data-easing="easeOutSine"  >
        <%= image_tag "img/parallax/t4.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sft"
        data-x="0"
        data-y="100"
        data-speed="600"
        data-start="1200"
        data-easing="easeOutSine"  >
        <%= image_tag "img/parallax/3.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sfb"
        data-x="-100%"
        data-y="155"
        data-speed="700"
        data-start="1400"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/12.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sfb"
        data-x="36"
        data-y="386"
        data-speed="400"
        data-start="1300"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/4.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption lfl"
        data-x="196"
        data-y="486"
        data-speed="1200"
        data-start="1800"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/t7.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sfl"
        data-x="806"
        data-y="616"
        data-speed="1200"
        data-start="1800"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/splat.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sfl"
        data-x="1960"
        data-y="80"
        data-speed="300"
        data-start="500"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/8.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption lfl"
        data-x="1960"
        data-y="358"
        data-speed="800"
        data-start="1200"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/13.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sfl"
        data-x="1460"
        data-y="508"
        data-speed="900"
        data-start="700"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/7.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sfl"
        data-x="1190"
        data-y="500"
        data-speed="1200"
        data-start="1400"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/t6.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sft"
        data-x="1260"
        data-y="-200"
        data-speed="400"
        data-start="350"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/splat.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sfb"
        data-x="1260"
        data-y="-100"
        data-speed="1200"
        data-start="750"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/9.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      <div class="tp-caption sft"
        data-x="930"
        data-y="-25"
        data-speed="1700"
        data-start="1050"
        data-easing="easeOutBack"  >
        <%= image_tag "img/parallax/t5.png", :class => "revolutionImage", :alt => "Indicadores" %></div>

      </li>

    </ul>

    <div class="tp-bannertimer"></div>
  </div>
</div>
