<!DOCTYPE html>
<html>
<head>
  <title>Elbuenplato</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/parallax_images" %>
  <%= render "layouts/header_bar" %>
  <%= render "layouts/navigation" %>
  <%= yield %>
</body>
</html>
